# Byte-compiled / cached files
__pycache__/
*.pyc

# Django specific
db.sqlite3
*.log

# Environment variables
.env

# Django migrations
*/migrations/*

# Media / static files
staticfiles/
media/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db

# Virtual environment
venv/
.env/
